
*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background: #333333 ;
    font-family: 'Open Sans', sans-serif;
    color: #f2f2f2;
}

header {
    width: 100%;
    overflow: hidden;
    background: #252932;
    margin-bottom: 20px;
}

.wrapper {
    width: 90%;
    max-width: 1000px;
    margin:auto;
    overflow: hidden;
}

header .logo {
    color: #f2f2f2;
    font-size: 50px;
    line-height: 200px;
    float: left;
}

header nav {
    float: right;
    line-height: 200px;
}

header nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition:all 500ms ease ;
    -o-transition:all 500ms ease ;
    transition:all 500ms ease ;
}

header nav a:hover {
    background: #f56f3a;
    border-radius: 50px;
}

.header2 {
    position: fixed;
    height: 100px;
}

.header2 .logo {
    line-height: 100px;
    font-size: 30px;
}

.header2 nav {
    line-height: 100px;
}

.contenido p {
    margin-bottom: 1em;
}

@media screnn and (max-width: 950px) {
    header .logo,
    header nav {
        width:100px;
        text-align: center;
        line-height: 100px;
    }

    .header2 {
        height: auto;
    }
    .header2.logo,
    .header2 nav {
        line-height: 50px;
    }
}

.banner {
    width: 90%;
    max-width: 1000px;
    margin:auto;
    overflow: hidden;
}

h3 {
    font-size: 25px;
}

 img {
     opacity: 0.7;
     object-fit: cover;
 }

 .titulo p {
    margin: 15px auto;
}
 .footer {
     background: #252935;
     width: 100% ;
     height: 100%;
     margin: 0px auto;
 }

 .contenedorf {
    display: flex;
    align-items:center;
    flex-direction:row;
    justify-content: space-between;
 }


 .footer button {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition:all 500ms ease ;
    -o-transition:all 500ms ease ;
    transition:all 500ms ease ;
}

.footer button:hover{
    background: #f56f3a;
    border-radius: 50px;
    margin-bottom: 1.5em;
}

.foto {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0);
    padding: 100px;
    margin: 0 100px;
}